.inner-container{
    gap: 1.5rem;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #007aff;
    text-align: center;
}
.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
  color: #dcc7e3;
}
.inner-container .button{
    background: #0092fd;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 5px;
}